*{
    box-sizing: border-box;
    -webkit-box-sizin: border-box;
    -moz-box-sizing: border-box ;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    background: #fff;
    font-family: "Arial";
}
.wrap{
    width: 90%;
    max-width:  1000px;
    /*margin: 0 20px;*/
    margin: auto;
}
.formulario h2{
    font-size: 14px;
    color: #001f3f;
    margin-bottom: 20px;
    margin-left: 20px;
}
.formulario > dic{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;    
}
.formulario input[type="radio"]{
    display: none;
}
.formulario .radio label,
.formulario .checkbox label{
    color: #0074d9;
    /*background: rgba(0,0,0,.1);*/
    padding: 3px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 1em;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    }

    .formulario .radio label:hover,
    .formulario .checkbox label:hover{
    background: rgba(0,116,217,0.1);
}
.formulario .radio label:before,
.formulario .checkbox label:before{
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #0074d9;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 8px;
}
.formulario .checkbox label:before{
    border-radius: 3px;
}
.formulario input[type="radio"]:checked + label,
.formulario input[type="checkbox"]:checked + label{
    padding: 5px 15px;
    background: #0074d9;
    border-radius: 2px;
    color: #fff;
}
.formulario input[type="radio"]:checked + label:before,
.formulario input[type="checkbox"]:checked + label:before{
    display: none;
}
